@use './mixin' as *;
@use './var' as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: FonteExterna, sans-serif;
}

.Bigtext{
    @include text(18px);
}

.text{
    @include text(16px); // Essa classe também vai ser usada no texto "Assine a Disney+"
}

.SmallText{
    @include text(13px);
}

.Title{
    @include text(28px);
}

.link{
    max-width: 400px;
    text-align: center;
    margin-top: 10px;
}

.linkText{
    @include text(17px);
    text-decoration: underline;
}

///////////////////////////////////////
.hero{ //É o banner ( conteúdo principal ) do site.
    padding: 5.6vw; //5.6vw (view width) = 107px
    min-height: 90vh;
    background-image: url('../../Img/FrontEnd M21 - images (3)/images/hero_desktop.jpeg');
    background-size: cover; //Redimenciona a img de acordo com o dispositivo.
    background-position: center; //Centraliza a imagem
}

.heroContent{
    max-width: 400px;
    
}
////////////////////////////

.assinaturas{
    display: flex;
    max-width: 400px;
    margin-top: 40px;
}

.itensCombo{
    width: 50%;
    padding-left: 20px;
    
    img{
        height: 20%;
        padding-left: 10px;
    }

    p{
        color: white;
        text-align: center;
        padding-top: 8px;
    }
}

.itensCombo_button{
    display: flex;
    justify-content: center;
    margin-top: 10px;

    button{
        padding: 10px;
        border-radius: 8px;
        background-color: blueviolet;
        color: white;
        cursor: pointer;
    }
}