@use './var' as *; 

@mixin text($hText){
    font-size: $hText;
    line-height: $hText + 10px;
    color: $corTextoSecundaria;
    text-align: center;
    margin-top: 10px;
}

@font-face { //FONT-FACE é uma fonte cutomizável
    font-family: FonteExterna;
    src: url('../../Img/FrontEnd\ M21\ -\ fonts\ \(2\)/fonts/Avenir-Bold.woff2');
    font-weight: 500;
}

@font-face {
    font-family: FonteExterna;
    src: url('../../Img/FrontEnd\ M21\ -\ fonts\ \(2\)/fonts/Avenir-Regular.woff2');
    font-weight: 500;
}